* {
  margin: 0px;
  padding: 0px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 646px;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
  font-optical-sizing: 5px;
}

.outer {
  background-color: hsl(0, 0%, 100%);
  width: 351px;
  height: 420px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px black;
  margin-top: 115px;
}
svg {
  display: block;
  padding: 20px;
  border-radius: 40px;
  object-fit: cover;
}
.small {
  padding: 5px;
  display: block;
  width: fit-content;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  font-weight: 800;
  margin-left: 20px;
}
p {
  margin-top: 5px;
  color: hsl(0, 0%, 50%);
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
}
h3 {
  font-weight: 800px;
}
.head {
  color: hsl(0, 0%, 7%);
  margin-top: 8px;
  margin-left: 20px;
}
.logo img {
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  width: 28px;
}
.last {
  margin-top: 27px;
  margin-left: 60px;
  font-size: 13px;
}
@media screen and (max-width="600px") {
  .body {
    width: 75%;
    height: 50%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px black;
    margin-top: 50%;
  }
}
